Repository ReoHakase/simple-resas-app: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint_web, eslint_panda-preset-radix-colors, eslint_panda-preset-radix-ui

prettier:
  run: 'pnpm prettier --write --ignore-unknown {staged_files}
  
    '
  stage_fixed: true
  skip:
  - merge
  - rebase

eslint_web:
  run: 'pnpm -F web exec eslint --fix {staged_files}
  
    '
  stage_fixed: true
  skip:
  - merge
  - rebase

eslint_panda-preset-radix-colors:
  run: 'pnpm -F panda-preset-radix-colors exec eslint --fix {staged_files}
  
    '
  stage_fixed: true
  skip:
  - merge
  - rebase

eslint_panda-preset-radix-ui:
  run: 'pnpm -F panda-preset-radix-ui exec eslint --fix {staged_files}
  
    '
  stage_fixed: true
  skip:
  - merge
  - rebase

doc: 📝 GitHubラベルに関するドキュメントを追加した。 (#53)
  .github/README.md
Due: prettier

doc: 📝 GitHubラベルのドキュメントのファイル名を変更した。 (#53)
  .github/label_README.md
Due: prettier

chore: 🔧 (web) Panda CSSのコンフィグオブジェクトに型アサーションを追加した。 (#1)
  apps/web/panda.config.ts
Due: prettier, eslint_web

chore: 🔧 (`devcontainer.json`) VirtioFSを使うコンテナ実行環境でpnpmが正常に動作するよう設定した。 (#57)
  .devcontainer/devcontainer.json
Due: prettier

test: 🧪 (`<PrefectureCheckbox>`) `next/navigation`のモックを公式ドキュメントの方法で行うよう修正した。 (#19)
  apps/web/src/features/navigation/components/PrefectureCheckbox/PrefectureCheckbox.stories.tsx
Due: prettier, eslint_web

chore: 🔧 `turbo`のv2への更新に合わせて、設定ファイルを修正した。 (#1)
  turbo.json
Due: prettier

build: 📦️ `eslint-config-turbo`を`2.0.3`に更新した。 (#1)
  packages/eslint-config-custom-next/index.js
  packages/eslint-config-custom-next/package.json
  packages/eslint-config-custom/package.json
  pnpm-lock.yaml
Due: prettier

chore: 🔧 Turborepoの設定ファイルに環境変数の記述を追加した。 (#1)
  turbo.json
Due: prettier

fix: 🐛 (`<PrefectureCheckbox>`) ラベルがカーソルの見た目をポインターにするように修正した。 (#64)
  apps/web/src/features/navigation/components/PrefectureCheckbox/PrefectureCheckbox.recipe.tsx
Due: prettier, eslint_web

Update README.md
  README.md
Due: prettier

doc: 📝 (`README.md`) フォーマットした。
  README.md
Due: prettier

fix: 🚑️ Panda CSSのプリセットに名前指定を追加した。 (#1)
  packages/panda-preset-radix-colors/src/preset.ts
  packages/panda-preset-radix-ui/src/preset.ts
Due: prettier, eslint_panda-preset-radix-colors, eslint_panda-preset-radix-ui

build: 📦️ Next 15 + React 19 RCに更新した。 (#130)
  apps/web/next-env.d.ts
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/src/app/[statLabel]/opengraph-image.png
  apps/web/src/app/[statLabel]/page.tsx
  package.json
  packages/eslint-config-custom-next/package.json
  pnpm-lock.yaml
Due: prettier, eslint_web

fix: 🐛 Next 15のデフォルトのキャッシュ戦略に合うよう修正した。 (#130)
  apps/web/src/infra/resas/fetchPopulationComposition.ts
  apps/web/src/infra/resas/fetchPrefectures.ts
Due: prettier, eslint_web

build: 📦️ (web) `@types/react` `@types/react-dom`を`19.0.1`に更新した。 (#138)
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: prettier

build: 📦️ `vite` `vitest`のバージョンが混在しないよう上書き設定を追加した。 (#138)
  package.json
  pnpm-lock.yaml
Due: prettier

fix: 🚑️ RESAS APIのエンドポイントをゆめみ提供のドメインに更新した。 (#176)
  apps/web/src/infra/resas/fetchPopulationComposition.ts
  apps/web/src/infra/resas/fetchPrefectures.ts
Due: prettier, eslint_web

build: 📦️ (web) Storybookをv9.0.12に移行した。
  apps/web/.eslintrc.cjs
  apps/web/.storybook/main.ts
  apps/web/.storybook/preview.tsx
  apps/web/next-env.d.ts
  apps/web/package.json
  apps/web/src/components/Chart/Chart.stories.tsx
  apps/web/src/components/Checkbox/Checkbox.stories.tsx
  apps/web/src/components/Image/Image.stories.tsx
  apps/web/src/components/Link/Link.stories.tsx
  apps/web/src/components/Select/Select.story.tsx
  apps/web/src/components/Skeleton/Skeleton.story.tsx
  apps/web/src/features/decoration/components/Aurora/Aurora.story.tsx
  apps/web/src/features/navigation/components/Header/Header.story.tsx
  apps/web/src/features/navigation/components/PrefectureCheckbox/PrefectureCheckbox.stories.tsx
  apps/web/src/features/navigation/components/PrefectureStateBar/PrefectureStateBar.stories.tsx
  apps/web/src/features/navigation/components/ThemeSelect/ThemeSelect.story.tsx
  apps/web/src/features/navigation/components/TopNavigation/TopNavigationLink.story.tsx
  pnpm-lock.yaml
Due: prettier, eslint_web

fix: 🐛 非推奨になった`React.ElementRef`を`ComponentRef`に置き換えた。
  apps/web/src/states/createConfigSlotRecipeContext.tsx
  apps/web/src/states/createSlotRecipeContext.tsx
Due: prettier, eslint_web

chore: 🔧 (`eslint-config-custom-next`) `@typescript-eslint`の重複を解消した。
  packages/eslint-config-custom-next/index.js
Due: prettier

chore: 🔧 node22, pnpm10に移行した。
  .prototools
  package.json
  pnpm-lock.yaml
Due: prettier

build: 📦️ ESLintの依存を明示的に追加した
  package.json
  pnpm-lock.yaml
Due: prettier

ci: 🦺 Composite Actionsを用いてCIを並列高速化した。 (#219)
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/turbo_build.yml
  .github/workflows/turbo_lint.yml
  .github/workflows/turbo_playwright:test.yml
  .github/workflows/turbo_sb:test.yml
  .github/workflows/turbo_test.yml
Due: prettier

ci: 🦺 Playwrightのキャッシュのパスを修正した。 (#219)
  .github/actions/setup/action.yml
Due: prettier

build: 📦️ ESLint v9.29.0 flat config + `@antfu/eslint-config`に移行した。 (#132)
  apps/web/.eslintrc.cjs
  apps/web/eslint.config.mjs
  apps/web/package.json
  apps/web/tsconfig.json
  package.json
  packages/eslint-config-custom-next/index.js
  packages/eslint-config-custom-next/package.json
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  packages/panda-preset-radix-colors/.eslintrc.js
  packages/panda-preset-radix-colors/eslint.config.mjs
  packages/panda-preset-radix-colors/package.json
  packages/panda-preset-radix-ui/.eslintrc.js
  packages/panda-preset-radix-ui/eslint.config.mjs
  packages/panda-preset-radix-ui/package.json
  pnpm-lock.yaml
  simple-resas-app.code-workspace
  turbo.json
Due: prettier, eslint_web, eslint_panda-preset-radix-colors, eslint_panda-preset-radix-ui

ci: 🦺 `@antfu/eslint-config`への移行に合わせてPrettierの個別実行を廃止した。 (#132)
  .github/workflows/ci.yml
Due: prettier

chore: 🔧 (`lefthook.yml`) `@antfu/eslint-config`への移行に合わせてPrettierの個別実行を廃止した。 (#132)
  lefthook.yml
Due: prettier

build: 📦️ `eslint-plugin-format`をルートの依存関係に追加した (#132)
  package.json
  pnpm-lock.yaml
Due: prettier

build: 📦️ Node.js, pnpmのバージョン管理ツールをprotoからmiseに移行 (#253)
  .github/actions/setup/action.yml
  .prototools
  mise.toml
  package.json
Due: prettier

build: 📦️ pnpm v10.13.1 に設定 (#253)
  mise.toml
  package.json
Due: prettier

build: 📦️ pncatを導入 (#255)
  apps/web/package.json
  package.json
  packages/panda-preset-radix-colors/package.json
  packages/panda-preset-radix-ui/package.json
  packages/tsconfig/package.json
  pncat.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

build: 📦️ turbo.jsonにCOREPACK_HOMEをglobalPassThroughEnvに追加 (#255)
  turbo.json
Due: prettier

Path conditions:
  prettier: any of: *.{tsx,ts,mts,mcs,mjs,cjs,js,css,json,md,mdx,yml,yaml}
  eslint_web: any of: *.{tsx,ts,mts,mcs,mjs,cjs,js,mdx} and ^apps/web/
  eslint_panda-preset-radix-colors: any of: *.{tsx,ts,mts,mcs,mjs,cjs,js,mdx} and ^packages/panda\-preset\-radix\-colors/
  eslint_panda-preset-radix-ui: any of: *.{tsx,ts,mts,mcs,mjs,cjs,js,mdx} and ^packages/panda\-preset\-radix\-ui/
